In [125]:
import dask.dataframe as dd

# The joined data from our pipeline

In [126]:
ENRICHED_TRXN_DATA = './DATA/PROCESSED/enriched_trxns/enriched_trxns-*.csv'

In [127]:
!ls -lsrt $ENRICHED_TRXN_DATA

16 -rw-r--r--  1 evanwelch  staff  7054 Mar 14 17:14 ./DATA/PROCESSED/enriched_trxns/enriched_trxns-1.csv
16 -rw-r--r--  1 evanwelch  staff  6311 Mar 14 17:14 ./DATA/PROCESSED/enriched_trxns/enriched_trxns-2.csv
 8 -rw-r--r--  1 evanwelch  staff  3715 Mar 14 17:14 ./DATA/PROCESSED/enriched_trxns/enriched_trxns-0.csv
 8 -rw-r--r--  1 evanwelch  staff  2951 Mar 14 17:14 ./DATA/PROCESSED/enriched_trxns/enriched_trxns-3.csv

# Read it in for exploration...

In [133]:
ddf = dd.read_csv(ENRICHED_TRXN_DATA, sep='|', dtype={'mrch_zip':str, 'zip': str})

In [134]:
ddf.head()

,_id,amount,cust_first_nm,cust_last_nm,cust_state,cust_zip,customer_id,medium,merchant_id,mrch_catgs,mrch_lat,mrch_lon,mrch_state,mrch_zip,payer_id,purchase_date,rewards,status,type
0,5aa96e43f0cec56abfa3dd25,132.690782,Jeffrey,Lopez,WY,49157,5aa96e38f0cec56abfa3dd04,balance,57cf75cea73e494d8675f4e2,"['lodging', 'restaurant', 'food', 'point_of_in...",39.950909,NaN,PA,19103,5aa96e3af0cec56abfa3dd0e,2017-12-06,0,cancelled,merchant
1,5aa96e42f0cec56abfa3dd23,266.259286,Jeffrey,Lopez,WY,49157,5aa96e38f0cec56abfa3dd04,balance,57cf75cea73e494d8675f1c2,"['lodging', 'restaurant', 'food', 'point_of_in...",30.319571,NaN,TX,78723,5aa96e3cf0cec56abfa3dd10,2017-12-03,0,cancelled,merchant
2,5aa96e43f0cec56abfa3dd24,47.429885,Jeffrey,Lopez,WY,49157,5aa96e38f0cec56abfa3dd04,balance,57cf75cea73e494d8675f0d6,"['grocery_or_supermarket', 'liquor_store', 'fl...",42.341840,NaN,MA,02446,5aa96e3cf0cec56abfa3dd10,2017-12-05,0,cancelled,merchant
3,5aa96e43f0cec56abfa3dd26,34.616882,Alyssa,Hanson,VI,43450,5aa96e38f0cec56abfa3dd05,balance,57cf75cea73e494d8675f54a,"['meal_delivery', 'meal_takeaway', 'bar', 'res...",39.953216,NaN,PA,19107,5aa96e3cf0cec56abfa3dd11,2017-12-06,0,cancelled,merchant
4,5aa96e43f0cec56abfa3dd27,386.329456,Alyssa,Hanson,VI,43450,5aa96e38f0cec56abfa3dd05,balance,57cf75cea73e494d8675f392,"['travel_agency', 'store', 'point_of_interest'...",43.076139,NaN,WI,53706,5aa96e3cf0cec56abfa3dd11,2017-12-10,0,cancelled,merchant

# filter certain rows (in or out)

# some new columns

# some aggregations

In [135]:
total_purch = ddf.groupby('purchase_date').amount.sum()

In [137]:
total_purch.compute()

purchase_date
2017-12-01    975.179841
2017-12-02    745.130377
2017-12-03    526.045785
2017-12-04    519.332555
2017-12-05    359.541407
2017-12-06    796.300589
2017-12-07    313.124616
2017-12-09    262.944510
2017-12-10    658.334660
2017-12-08    214.026894
Name: amount, dtype: float64